* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
 .container{
padding: 20px;
background-color: rgb(123, 219, 214);
border-radius: 10px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

 }
 button{
    padding: 10px;
    font-size: 50px;
    cursor:pointer;
    border: none;
    border-radius: 10px;
    transition: opacity 0.5ss ease-in-out;
 }
 button:hover{
    opacity: .7;
 }
 .butons{
    margin: 30px;
    display: flex;
    gap: 40px;
 }
 .butons{
    padding: 10px;
    font-size: 50px;
border-radius: 10px;
border: none;
 }

 #rock{
background-color: blueviolet;
background-color: white;
 }
 #paper{
    background-color:rgb(175, 229, 73);
    
 }
 #iscissors{
    background-color:rgb(12, 32, 46);
 }
 p{
    font-weight: bold;
    margin-bottom: 10px;
 }

 .p1 span{
    color: rgb(15, 54, 228);

 }
 .p2 span{
    color:rgb(230, 48, 48);
 }